<section id="articleheader">
  <h2>
      <%= @article.title %>
      <ul class="stars floatstars">
          <li class="yellowstars" style="width: <%= @article.avg_rating * 25 %>px !important;"></li>
          <li class="text"><%= @article.avg_rating %> average from <%= pluralize(@article.count_ratings, "vote") %></li>
      </ul>
  </h2>
  
  <div class="byline">written by <%= link_to @article.user.fullname, "" %></div>

  <div class="avatar">
    <%= image_tag gravatar(@article.user.email, 64) %>
  </div>
      
  <h3><%= @article.teaser %></h3>
</section>

<section id="articlebody" class="textile">
  <%= sanitize textilize(coderay_dressed(@article.body)) %>
</section>


<% # comments are available for published articles only %>
<% if @article.state > 2 %>

  <section id="rating">   
      <% if user_signed_in? %>
          <%= form_for [@article, @rating_currentuser] do |f| %>
              <div id="ratingbox">
                  <ul id="ratingbuttons">
                      <li><%= f.radio_button :stars, "5" %><span>Excellent</span></li>
                      <li><%= f.radio_button :stars, "4" %><span>Very Good</span></li>
                      <li><%= f.radio_button :stars, "3" %><span>Good</span></li>
                      <li><%= f.radio_button :stars, "2" %><span>Average</span></li>
                      <li><%= f.radio_button :stars, "1" %><span>Poor</span></li>                     
                  </ul>article
                  <div class="center"><%= f.submit "Rate this article", :class => "awesome custom red" %></div>
              </div>
          <% end %>
      <% else %>
          <div id="ratingbox"><%= link_to "Sign in", new_user_session_path %> to rate this article</div>
      <% end %>   
  </section>

  <section id="comments"> 
    <% @comments.each do |comment| %>
      <article class="comment">      
        <div class="avatar"><%= image_tag gravatar(comment.user.email, 48) %></div>
        <div class="commentbody">
          <div class="commenthead">               
            <%= comment.user.fullname %> - <%=time_ago_in_words(comment.created_at)%> ago 
            <% # display delete link only for comments written by this particular user %>
            <% if user_signed_in? and comment.user_id == current_user.id %>
              <span><%= link_to 'delete', article_comment_path(@article, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></span>
            <% end %> 
          </div>
          <div><%= comment.body %></div>
        </div>  
      </article>
    <% end %>
  
    <% # add a new comment %>   
    <article class="comment newcomment">            
      <% if user_signed_in? %>
        <div class="avatar"><%= image_tag gravatar(current_user.email, 48) %></div>
        <div class="commentbody">
          <% if current_user.fullname == nil or current_user.fullname == '' %>
            <div class="commenthead">
                Please complete your <%= link_to "profile", edit_user_registration_path %> before posting comments.
            </div>
          <% else %>              
            <div class="commenthead">
              <%= current_user.fullname %>
            </div>
            <div>
              <%= form_for [@article, current_user.comments.new] do |f| %>
                <%= f.text_area :body, :size => "100%x20", :class => "fullwidth" %>
                <%= f.submit "Add Comment", :class => "awesome custom red" %>
              <% end %>               
            </div>          
          <% end %>
        </div>  
      <% else %>
        <div class="signin">
          Please <%= link_to "sign in", new_user_session_path %> before posting a comment.
        </div>
      <% end %>
    </article>
  </section>
<% end %>